
<h1> Login: </h1>

<ul>
    <% flash.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>

<%= form_for :session, url: login_path do |f| %>
<%= f.label "Username" %>
<%= f.text_field :name  %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit 'Login'  %>

<<<<<<< HEAD
<% end  %>

=======
<% end  %>
>>>>>>> cf30bd1b3f742a7434677223645b64b9fea19845
