
<h1 class=h1> Login: </h1>

<ul>
    <% flash.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>

<%= form_for :session, url: login_path do |f| %>
<%= f.label "Username" %>
<%= f.text_field :name  %>

<% if flash[:my_errors] %>
<ul>
<% flash[:my_errors].each do |error| %>
<li> <%= error %> </li>
<% end %>
</ul>
<% end  %>


<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit 'Login'  %>

<% end  %>
