<div class="form-container">

<h1>Login:</h1>

  <ul>
    <% flash.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

<%= form_for :session, url: login_path do |f| %>
<%= f.label "Username" %>
<%= f.text_field :name  %><br><br>

<%= f.label :password %>
<%= f.password_field :password %><br><br>

<%= f.submit 'Login', class: "form-btn" %>


<% end  %>
</div>
