<h1> <%= @cryptid.name %> </h1>

<div><%= @cryptid.description %></div>

<hr>
<h4>Sightings</h4>
<ul><% @cryptid.sightings.each do |sighting| %>
<li>Date: <%= sighting.date %></li>
    <ul>
    <li>Location: <%= sighting.location%></li>
    <li>Temperament: <%= sighting.creature_temperament %></li>

    
    </ul>
    <% end %>
    </ul>




