<div class="three-divs"></div>

<div class="threediv-1">
    <h1> <%= @cryptid.name %> </h1>
    <br>
    <div class="two-divs">
            <div class='div-column' style='width: 550px'><%= @cryptid.description %></div>
            <div class='div-column'><%= image_tag @cryptid.img_url, class: 'show-img' %></div>
    </div>
</div>

<div class='threediv-2'>
<h4>Recent Sightings</h4>
    <ul class='no-bullets'>
        <% @cryptid.sightings.each do |sighting| %>
        <li>Date: <%= sighting.date %></li>
        <ul>
            <li>Location: <%= sighting.location%></li>
            <li>Temperament: <%= sighting.creature_temperament %></li>
            <li>Fear Instilled: <%= sighting.fear_rating %> out of 10</li>
        </ul>
    <% end %>
    </ul>
</div>


<div class='div3'>
<<%= link_to 'Edit', edit_cryptid_path(@cryptid) %>>
</div>

</div>
