<div class="three-divs"></div>
<div class="threediv-1">
<h1> <%= @sighting.location  %> </h1>
<p> <%= @sighting.date %> </p>

<h2> <%= @sighting.expedition.region %> </h2>
<br>
<br>

<p> <%= @sighting.cryptid.name %> </p>
<br>
<p> <%= @sighting.fear_rating  %></p>
<br>
<p> <%= @sighting.description  %></p>

</div>
</div>