<div class="three-divs"></div>

<div class='threediv-1'>
<div class='user-container'>
  <h1 class='h1'>Users:</h1>
  
    <% @users.each do |user| %>
    
      
      <%= link_to user_path(user) do %>
      <div class='expedition-tile'>
      <ul class='no-bullets'> 
      
      <div class='clickable-expedition'>
        <ul class='no-bullets'>
        <li><h2 class='h2' style="text-align: center"><%= user.name %></h2></li>
        <li style="text-align: center">Years Experience: <%= user.years_experience %></li>
        <li style="text-align: center">Sightings Logged: <%= user.sightings.count %></li>
        </ul>
      </div>
    </ul>
  </div>
    
    <% end %>
  <% end %>
  
</div>

<div class='threedivs-2'>
<div class='user-container'>
    <h2 class='h2'>Recent Explorers:</h2>
        <ul class='no-bullets'>
            <% User.all.each do |user| %>
                <div class='user-tile'>
                    <h2 class='h2'><%= link_to user.name, user_path(user)  %></h2>
                    <hr>
                    <p>Years Experience: <%= user.years_experience %></p>
                    <p>Expeditions: <%= user.expeditions.count %></p>
                    <p>Cryptid Sightings: <%= user.sightings.count %></p>
                            </div>     
                        <% end %>
                    </ul>
                </div>
           
        </ul>
</div>    
</div>

