<div class="form-container">

<% if flash[:user_errors] %>
<ul>
<% flash[:user_errors].each do |error| %>
<li> <%= error %> </li>
<% end %>
</ul>
<% end  %>

<h1>Sign Up:</h1>
<%= form_for @user do |f| %>
  <%= f.label 'Username' %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label 'Years Experience' %>
  <br>
  <%= f.number_field :years_experience %>
  <br>
  <%= f.label 'Password' %>
  <br>
  <%= f.text_field :password %>
  <br>
  <br>
  <%= f.submit "Create User", class: "form-btn" %>
<% end %>
</div>