<h1> New User: </h1>

<%= form_for @user do |f| %>
  <%= f.label  'Username'%><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Years Experience' %><br>
  <%= f.text_field :years_experience %><br>

  <%= f.label 'Password'  %><br>
  <%= f.text_field :password %><br>

  <%= f.submit %>
<% end %>


