<div style="height: 185px;">
    <h1 class='h1'>User: <%= @user.name %></h1>
    <br>
    <p>Years as a cryptozoologist: <%= @user.years_experience  %></p>
    <p>Sightings Logged: <%= @user.sightings.count %></p>
</div>

<h2 class='h2'>My Expeditions:</h2>
<div class='user-container'>
    
        <ul class='no-bullets'>
            <% @user.expeditions.each do |expedition| %>
                <div class='user-tile'>
                    <p>Expedition: <%= link_to expedition.name, expedition_path(expedition) %></p>
                    <p>Length of Trip: <%= expedition.days %> Days</p>
                    <hr>
                    <ul class='no-bullets'> 
                        <% expedition.sightings.each do |sighting| %>
                            <%= link_to sighting_path(sighting) do %>
                            <div class='clickable'>
                            <ul class='no-bullets'><%= sighting.date %>: 
                            <li>Location: <%= sighting.location %></li>
                            <li>Cryptid: <%= sighting.cryptid.name %> </li>
                            </ul>
                            </div>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            <% end %> 
        </ul>
</div>    



