<div style="height: 185px;">
    <p><h1 class='h1'><%= @user.name %></h1></p>
    <br>
    <p>Years as a cryptozoologist: <%= @user.years_experience  %></p>
    <p>Sightings Logged: <%= @user.sightings.count %></p>
</div>
<div class='user-container'>
    <h2 class='h2'>My Expeditions:</h2>
        <ul class='no-bullets'>
            <% @user.expeditions.each do |expedition| %>
                <div class='user-tile'>
                    <p><%= link_to expedition.name, expedition_path(expedition) %> :</p> <%= expedition.days %> Days
                    <ul class='no-bullets'> 
                        <% expedition.sightings.each do |sighting| %>
                        <li><%= sighting.location %>: <%= link_to sighting.cryptid.name, sighting_path(sighting) %> </li>
                        <% end %>
                    </ul>
                </div>
            <% end %> 
       
        </ul>
</div>    
