
    <div class="map">

      <ul class="map-markers">

        <li class="map-marker map-marker-chicago">

          <a href="#">Chicago</a>

          <div class="map-marker-info">

            <div class="map-marker-info-inner animate-bounce-in">

              <header>

                <h2>Midwest</h2>

              </header>

              <main>

                <p> <%=Expedition.midwest%> Expeditions in the Midwest!</p>
              </main>
            </div>
          </div>
        </li>
        <li class="map-marker map-marker-florida">
          <a href="#">Florida</a>
          <div class="map-marker-info">
            <div class="map-marker-info-inner animate-bounce-in">
              <header>
                <h2>Southeast</h2>
              </header>
              <main>
                <p><%=Expedition.southeast%> Expeditions in the Southeast!</p>
              </main>
            </div>
          </div>
        </li>
        <li class="map-marker map-marker-los-angeles">
          <a href="#">Los Angeles</a>
          <div class="map-marker-info">
            <div class="map-marker-info-inner animate-bounce-in">
              <header>
                <h2>Southwest</h2>
              </header>
              <main>
                <p><%=Expedition.southwest%> Expeditions in the Southwest!</p>
              </main>
            </div>
          </div>
        </li>
        <li class="map-marker map-marker-new-york">
          <a href="#">Northeast</a>
          <div class="map-marker-info">
            <div class="map-marker-info-inner animate-bounce-in">
              <header>
                <h2>Northeast</h2>
              </header>
              <main>
                <p><%=Expedition.northest%> Expeditions in the Northeast!</p>
              </main>
            </div>
          </div>
        </li>
        
        <li class="map-marker map-marker-seattle">
          <a href="#">Seattle</a>
          <div class="map-marker-info">
            <div class="map-marker-info-inner animate-bounce-in">
              <header>
                <h2>Pacific Northwest</h2>
              </header>
              <main>
                <p><%=Expedition.pacific_northwest%> Expeditions in the Pacific Northwest!</p>

              </main>

            </div>

          </div>

        </li>

      </ul>

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="21.263 7.056 906.273 561.17" fill="#293447">
        <path d="M925.146,80.593l-2.101-2.276l-3.694,0.217l0.674,1.574h-0.247l-2.591-2.014l-0.152-4.615l-0.977-2.423h-5.942
  l-9.009-29.758l-2.168-1.083l-5.981-2.425l-1.826-0.222l-1.887,1.896l-4.249,3.059v1.02l-0.465,0.465l-2.267-0.533l-1.119-1.959
  v-1.44l-1.794-0.22h-1.602l-2.27,4.547l-2.903,8.875l-1.812,4.941l0.168,4.985l0.151,1.355l-0.751,2.552l-0.858,1.03v6.338
  l1.876,2.344l-1.327,3.706l-2.588,4.688l-1.352,4.598l-0.02,2.073l-0.969-0.262l-1.079,0.09l-0.002-0.006l-1.602-0.009l-0.532,1.331
  l-1.448-1.428l-1.897,2.532l-0.047,4.964l-25.09,6.394l-0.002-0.025l-1.373,0.376l-0.009,0.002l0,0l-6.773,1.855l-4.438,1.427
  l-3.213-0.161l-5.639,1.333l-3.081,1.246l-2.529,1.89l-2.202,2.526l-2.767,3.745l-2.937,4.573l-1.433,2.864l-0.565,0.714
  l-5.99,5.657l0.186,2.964l0.971,1.357l1.899,0.864l1.485,0.045v0.829l-1.16,2.155l0.363,1.636l1.432,2.133l-0.13,1.825l-1.595,0.93
  h-2.201l-1.821,2.199l-1.733,3.152l-1.91,1.617l-5.018,0.47l-2.802,1.204l-1.958,1.205l-1.324-0.133l-1.968-1.312l-6.525,0.171
  l-3.311,0.504l-4.048,1.295l-4.364,1.455l-3.347,2.03l2.156,6.833l1.812,0.165l1.154,2.741l0.104,0.633l-0.918,0.787l-2.174,2.824
  l-0.526,1.646l-1.77,1.631l-1.878,1.195l-0.99,1.651l-1.214,1.063l-0.688,0.542l-0.01-0.1l-0.683,0.645l-0.269,0.211l0.004,0.038
  l-5.087,4.808l-1.198,0.449l-3.692,2.627l-0.004-0.024l-6.725,4.473l-3.88,2.263l-3.488,3.79l-3.945,3.788l-3.065,0.768
  l-2.908,0.485l-5.546,2.588l-1.796,0.138l-3.404-3.081l-5.237,0.654l-4.971-2.808l-4.427,0.637l0.072-0.649l2.009-3.554l2.117-1.839
  l-0.223-5.073l1.354-1.354l1.302-0.409l0.237-3.796l1.25-2.468l0.41,0.236l0.188,0.748l1.286,0.257l2.381-1.19l-0.334-9.859
  l-3.248-8.349l-2.264-9.053l-2.51-3.412l-2.989-2.087l-1.822,1.286l-4.063,1.863l-1.989,5.138l-2.646,3.58l-0.82,0.469l-1.182-0.522
  c-1.028-0.579-2.015-1.316-2.17-1.617c0.147-0.734,0.381-3.676,0.459-4.707l3.346-1.274l1.469-6.046l2.495-1.664l-0.337-10.452
  l-1.705-2.386l-1.294-0.854l-0.632-1.642l0.39-0.389l1.896,0.379l0.241-2.412l-2.54-2.371l-1.393-2.782h-2.816l-4.394-1.413
  l-5.566-3.438h-3.097l-0.54,0.541l-0.572-0.281l-3.343-2.463l-3.242,1.986l-3.126,2.431l0.377,4.155l1.326,0.439l1.896,0.437
  l0.05,0.083l-1.896,0.598l-2.783,0.349l-1.668,2.038l-0.357,2.324l0.332,1.635l0.306,5.192l-3.118,1.842l-0.067-0.018v-3.688
  l1.233-2.314l0.764-2.81l-1.248-1.249l-2.487,1.036l-0.969,4.202l-2.51,1.033l-2.058,2.174l-0.224,1.336l0.632,0.79l-0.511,2.043
  l-2.354,0.504v1.536l0.793,2.461l-1.08,5.921l-1.666,4.164l0.664,4.82l0.446,1.085l-0.738,2.217l-0.322,0.809l-0.376,3.043
  l3.617,6.077l2.888,6.405l1.421,4.737l-1.748,10.49l-2.396,5.11l-0.347,2.722l-3.036,2.874l-2.699,1.543l-2.105,1.926l-0.795,0.227
  l-1.262-0.842l-3.291-0.973l-0.907-2.978l-1.293-3.718l-1.682-1.908l-1.368-2.433l-0.208-4.882l0.049-0.003l-0.077-3.639
  l-1.182-4.568l-0.646-6.143l-1.094-2.408l0.916-2.903l0.793-2.851l1.515-2.693l-1.307-7.016l0.428-1.569l1.975-2.468l0.182-3.066
  l-0.781-1.249l0.617-2.467l-0.446-4.117l2.695-5.55l2.91-6.79l0.208-2.523l-0.553-1.656l-1.343,0.806l-4.358,6.452l-2.717,3.994
  l-1.987,1.823l-0.776,2.17l-1.904,0.788l-1.032,1.77l-0.742-0.165l-0.115-1.266l1.238-2.324l2.059-4.593l1.701-1.546l0.795-1.818
  l0.025,0.022l3.491-7.705l0.94-3.955l1.834-4.128l0.235-0.047l1.093,1.562h1.033l4.291-2.299l1.28,1.423l0.883,0.294l1.604-1.404
  l1.093-2.966l2.144-0.714l7.114-0.662l1.93-2.572l4.87-0.152l5.758,1.28l1.887,0.012l3.323-1.447l2.231,0.159l2.087-0.643
  l3.548,0.463l0.899,0.36l1.784-0.446l0.124,0.481l3.813,0.19l1.616-1.517l-0.013-0.233c-0.097-1.745-0.535-1.964-0.659-2.024
  c-0.185-0.126-0.904-0.995-1.463-1.727l-0.171-0.225l-4.414,0.468l-0.53,1.857l1.14,0.569l0.338,1.312l-1.308-0.971l-1.227-0.613
  l-3.023-2.873v-7.097l-2.09-0.696l-1.255,1.254l-6.006,1.581l-1.812,0.453l-2.706-0.751l-0.195-0.13v-5.838l-2.047-0.227
  l-2.692,1.347l-4.442,1.905l-6.538,0.319l-3.528,1.157l-4.142,3.602l-1.497,0.899h-1.138l-1.223,0.764l-1.309-0.392l-1.824-1.461
  l-1.645,1.096l-3.521,0.146l-2.531-2.532l-1.469-3.101l-1.55-1.205l-3.396-1.054l-2.199-0.021l-1.468-1.467l-3.969,3.257
  l-0.695,0.812l-0.167-0.1l0.268-2.131l2.346-3.127l0.519-2.349l2.192-0.783l1.443-3.048l3.755-0.979l0.507-1.52l-1.519-1.519
  l-4.926,0.509l-4.557,2.486l-2.42,2.406l-1.217,1.671l-1.788,0.813l-2.084,3.126l-0.144,1.14l-4.119,1.983l-2.418,1.918
  l-6.011,0.975l-0.907,0.907v0.902l-3.266,2.078l-2.681,0.789l-0.717,0.552l-0.763,0.563l-0.753-0.102l-0.707-1.237l-1.655,0.369
  l-1.132,0.162l-1.682,0.882l-0.401-0.268l0.507-1.52l1.877-2.973l1.5-1.5l-2.621-1.966l-2.359,0.907l-2.93,1.948l-7.347,3.204
  l-2.814,0.625l-2.67-0.445l-0.498-0.445l4.104-2.615l1.365-0.17l4.582-5.072l1.828-0.831l2.325-3.987l2.386-3.5l2.961-2.494
  l4.713-1.98l9.255-4.066l4.151-1.936l0.854-3.192l-5.391,0.451l-0.699,1.062h-0.089l-1.784-3.082l-9.361,0.34l-0.963,0.802h-0.442
  l-0.376-1l-0.97-2.134l-3.124,0.585l-3.285,3.285l-1.438,0.72h-2.862l-2.178-0.816v-2.197l-1.974-0.247l-0.403,0.403l-2.037-1.018
  l-0.538-3.236l-2.206,0.736l-0.407,0.813l-1.994-0.399l-5.212-2.362l-4.006-2.671h-2.896l-1.357-1.019l-2.626,0.75l-1.321,1.321
  l-0.263,1.049h-3.959v-2.077l-6.4-0.328l-0.327-1.475h-5.044l-1.369-1.37l-1.414-5.962l-0.851-5.776l-2.288-0.944l-2.377-0.51
  l-1.123,0.281l-0.318,8.138l-30.055-0.035l-28.334-0.558L418.78,59.94l-26.49-1.292l-22.535-2.095l0.003-0.035l-31.163-2.853
  l-29.253-3.555l-29.247-4.04l-32.323-5.333l-18.417-3.393L197.051,30.5v-0.003l-0.123-0.023l-0.786-0.167l-0.004,0.019l-12.63-2.362
  l0.016-0.072l-15.698-3.307l-22.94-5.654l-20.071-5.665l-8.542-1.933l-9.678-2.741l-4.606-1.536l-1.458,1.041L100.07,9.25
  l2.514,5.027l1.038,2.373l-1.727,3.452v2.381l0.598,1.453l-0.776,1.708l0.526,3.505l0.925,1.232l-0.088,0.701l-0.662,0.074
  l-0.539-1.61l-1.132-2.425l-1.694-1.45l0.228-1.479l2.4-0.514l-0.421-2.303l-0.504-1.766l-2.73,1.688l-1.464,1.281v2.187
  L94.85,24.89l-3.223-0.913l-2.91-1.455l-3.136-0.677l-4.428-2.053l-3.187-1.913l-2.667-2.505l-2.533-3.039L70.018,11.7
  l-2.425,10.046l1.81,3.29v7.739l-0.658,2.96l1.506,7.365l2.152,2.152l-3.79,0.562l-0.195,4.473l2.458,1.075l-1.327,3.315
  l-2.847,0.335l-0.389,3.493l2.013,2.863l-1.923,0.683l-2.346,6.704l-3.205,9.953l-3.257,6.522l-4.992,14.018l-6.436,13.524
  l-8.078,12.602l-2.01,3.015l-0.822,8.756l0.378,11.816l-1.539,4.833l-0.183,7.479l-5.086,11.604l-3.1,2.61l-0.302,1.057
  l-1.763,0.801l-1.537,4.448l-0.862,3.445l2.839,4.341l1.587,4.126l1.104,3.47l-0.312,6.255l-1.718,2.967l-0.698,5.944l-1.015,3.891
  l1.88,4.093l2.722,4.479l2.241,4.791l1.261,3.943l-0.301,3.006l-0.338,0.507v2.444l5.619,6.261l-0.427,2.14l-0.64,2.242
  l-0.674,2.022l0.166,8.457l2.199,3.882l2.059,2.745l2.655,0.469l0.817,2.314l-1.034,3.248l-1.842,1.417h-1.368l-0.911,4.37
  l0.52,3.121l3.254,4.392l3.064,9.989l1.322,3.129l3.391,5.812l1.412,2.511l0.509,3.051l1.572,0.943v2.042l-0.793,1.918l-2.327,9.309
  l2.726,3.09l4.329,0.499l4.411,1.729l3.992,2.162h2.821l2.716,2.866l2.548,4.779l1.202,2.402l4.019,2.178l4.797,0.826l1.275,1.844
  l0.548,2.739l-1.504,0.668l0.553,1.661l3.592,0.89l2.889,0.17l2.943-1.571l3.549,3.845l0.774,2.167l2.571,4.199l0.309,3.069v9.376
  l0.589,2.226l10.35,1.503l19.743,2.751l13.359,1.304l-2.327,1.86l-0.399,1.796l0.632,1.267l19.028,10.732l12.139,7.606l14.707,8.564
  l16.812,10.023l12.488,2.492l24.36,2.641l-0.002,0.016l16.46,2.117l1.295-10.039l29.26,2.833l1.204,0.301l2.416,2.719l1.489,4.468
  l4.704,2.271l1.221,3.053l7.187,8.049l1.373,1.716l4.966,2.082l1.113,2.067l1.539,0.923l0.445,2.522l3.226,6.498v7.966l2.313,4.905
  l7.526,7.889l5.241,2.177l1.571,1.713v0.739l4.128,2.408l1.975,0.67l1.727,1.099l2.981,1.129l2.707-2.716l4.365-6.143l1.023-3.797
  l2.127-3.039l3.414-1.396l4.27-1.678l2.962,2.184l7.538,0.653l6.659,1.109l2.299,1.868v1.076l2.753,3.262l5.839,5.208l0.158,1.428
  l1.793,1.955l0.782,4.063l5.317,12.275l-0.177,2.121l4.351,2.677l3.539,6.58l3.479,4.472l3.223,1.289l1.391,1.945l-1.291,4.354
  l0.85,1.275l1.105,0.553l-0.272,2.874l-0.729,0.729l0.783,2.734l3.213,1.928l1.25,6.249l2.233,4.17l7.752,3.465l5.168,1.141
  l4.118,3.01l3.568,0.763l1.293-0.485l5.256,1.083l5.847,4.009l3.35-2.116l1.303-1.873l-0.231-0.356l1.796-0.491l-0.694-7.044
  l-2.596-7.27l-0.875-6.042l0.316-5.062l1.982-6.502l4.313-6.472l5.151-7.159l-0.38-0.143l6.13-3.678l1.698-1.4l6.266-3.376
  l5.72-2.457l5.38-3.264l2.787-2.135l5.58-5.275l1.312-0.819l2.118-1.467l2.681-2.012l0.943-1.888l9.628-4.426l6.063-1.696
  l-0.008-0.091l4.134-1.343l11.95,0.205l10.349,3.551l6.604,1.155l3.677-1.438l3.08,1.077l3.678,1.104l1.158-3.016l-3.847-1.347
  l-2.532,0.476l-2.283-1.343c0.093-0.362,0.254-0.688,0.372-0.719c0.536-0.134,2.196-0.679,2.848-0.894l1.824,1.494l1.915-1.044
  l2.839,0.566l1.289,2.148l0.366,2.562l4.741,0.339l1.393,1.393l-0.584,1.168l-1.707,1.067l2.062,2.061l8.746,3.74l3.951-1.438
  l0.958-2.396l2.338-0.585l1.671-1.306l0.845,0.634l0.638,2.298l-2.568,0.917l1.435,1.434l3.847-1.465l2.29-3.434l1.899-1.142
  l-2.792-0.429l0.566-1.135l-0.129-1.16l1.825-0.421l0.845-0.966l0.156,0.194c-0.028,0.771-0.025,2.531,0.547,3.137
  c0.168,0.177,0.378,0.271,0.607,0.271c0.609,0,3.065,0.44,4.046,0.626l3.858,1.852l1.042,1.563h2.992l1.399,1.199l2.681-3.638
  v-2.118h-1.616l-3.366-2.726l-5.837-0.811l-2.807-1.964l0.831-2.02l2.323,0.332l0.366-1.459l-1.285-0.701h2.448l2.079-3.591
  l-1.399-2.099l-0.367-3.122l-2.135,0.235l-2.152,2.333l-0.561,2.243l-2.375-0.499l-0.688-1.263l1.536-1.677l1.811-3.25l1.239-0.876
  l2.493-3.975l1.545,0.702l6.861-1.961l1.903,0.293l1.49,0.828h5.712l0.037-0.185h2.242l0.985,0.245l1.489-3.175l1.305-3.911
  l1.595,0.456l2.917,5.682v0.591l-3.604,2.542l4.186,0.492l5.623-2.61l2.871-0.511l5.92-2.08l5.949-0.483l4.271-0.633l7.452,1.744
  l7.969,3.825l1.564,1.407l2.941,1.179l1.438,1.727l0.383,3.25l3.75-1.501h3.911l3.668-2l3.668-3.484l3.204,0.168l0.743-1.733
  l-0.873-1.048l0.112-1.361l3.574-0.725h2.469l2.864,1.428l4.042,1.398l2.424,3.717l2.678,0.945l1.122,3.364l3.454,1.646l1.636,2.616
  l2.146,0.714l4.932,1.232l1.195,2.842l3.032,3.702v9.282l-1.464,4.718l0.349,2.925l1.318,4.922l2.007,4.562l1.457-0.874l1.658-5.159
  l-2.826-1.06l0.955-0.383l4.021,0.861l0.108,1.093l-3.097,5.28l-2.399,2.771l3.85,4.022l2.555,3.033l2.925,5.352l2.873,3.83
  l2.183,5.205l2.347,0.427l1.521-1.981l1.3,0.827l2.474,3.865l0.63,3.46l3.588,5.18l1.047-1.675l3.453,0.288l3.36,2.14l3.288,5.011
  l0.776,3.25l0.347,3.104l1.28,1.1l1.625,0.642l2.713-1.085l1.394-1.547l3.668-0.152l3.266-1.503l1.661-1.887l-0.31,0.98
  l-3.168,5.147l-4.273,4.116l-3.355,1.917l-3.086,1.893l2.035,1.766l3.077-2.354l5.388-4.25l3.719-3.88l2.579-6.727l1.028-1.802
  l0.213-4.505l-1.69,1.129l-1.028,3.001l-0.103,0.323l-0.142-0.562l-0.309-2.31l0.648-1.949l-0.283-1.707l2.345-1.252l0.36-3.772
  l-0.659-1.812l-0.488-11.949l-1.294-7.598l-4.593-8.422l-3.532-5.776l-2.587-5.335l-2.933-2.972l-2.78-7.106l0.627-1.015
  l1.362-1.559l-1.786-3.218l-4.104-3.807l-4.794-5.419l-3.715-6.298l-5.302-9.309l-3.721-9.712l-2.193-7.089l-0.755-6.131
  l2.229-9.885l1.498-4.329l-0.478-2.544l3.358-6.289l-0.638-1.688l1.726-1.062l5.312-5.794l-0.869-2.897l2.46-0.136l3.636-3.471
  l1.669-0.834l2.273-3.431l2.749-2.748l2.074-3.479l2.466-0.658l1.153-2.804l1.703-0.853l0.5-6.506l2.519-5.979l5.271-5.309
  l5.051-1.24l5.055-0.523l0.546-2.74l1.915-6.386l3.309-4.567l6.368-5.254l5.069-2.376l2.537-0.597l0.98,0.42l1.766,0.04l3.233-5.11
  l2.584-4.735l-2.552,0.958l-1.904,1.841l-0.49-1.227h-3.864l1.808-5.876l-0.984-1.576l2.937,0.383l4.024-1.749l1.394-3.145
  l0.584-1.896l2.647-1.325l0.365-4.749l-0.009-0.008l1.33-0.088l0.196,0.564l1.441,2.348l0.635,5.937l-0.139,1.718l-1.256,0.528
  l-3.306,2.688l-3.312,3.207l2.309,0.354l1.271-1.366l2.775-2.379l3.606-1.633l0.176-3.769l-0.403-4.446l-2.993-6.062l-1.121,0.373
  l-0.307-1.072l-2.467-2.467l-3.5-6.359l-1.827-4.311l0.066-0.015l-0.252-0.42l-0.235-0.557l-0.086,0.02l-3.592-5.983l-5.895,1.714
  l-0.865-0.823l2.271-1.228l-0.591-3.034l-1.753-1.765l-0.126-1.468l-2.272-1.538l-0.045-0.821l2.588,0.091l0.345-2.144l-1.204-0.773
  l0.47-1.894l-1.414-1.134l0.434-4.609l-1.107-1.528l-3.059-0.386l-0.548-2.368l1.12-2.426l-1.528-2.208v-1.851l-2.503-2.169
  l-2.001-5.233l1.274-5.261l-0.183-2.365l-1.094-1.094c0.53-0.63,1.271-1.621,1.271-2.24c0-0.373,0.231-1.228,0.406-1.782
  l1.839-1.229l1.455-1.212l0.05,0.1l-1.228,1.364l-1.445,4.038l0.452,1.583l1.709,0.311l0.421,4.766l-2.103,0.971l0.413,4.537
  l1.262-0.421l0.884-1.514l0.799,0.88l-1.364,1.093l-0.362,3.801l2.833,3.717l3.606,0.451l-1.688,0.44l1.341,2.969l0.164,1.81
  l1.521,2.501l0.45-0.45c1.036-1.036,1.036-1.435,1.036-1.566c0-0.338-0.467-2.149-0.751-3.219l-0.84-2.709l0.782-0.391l3.068,3.967
  l1.122,0.443l0.114,1.561l-0.729,2.963l-1.588,4.183l-0.484,5.684l1.732,5.468l2.834-2.51l1.914-5.213l-0.471-3.458l0.399-4.384
  l2.831-3.664l0.818-3.279l0.192-0.081l2.153-4.316l-0.406-4.583l0.089-0.017l-0.128-0.416l-0.052-0.589l-0.121,0.024l-2.3-7.503
  l-1.235,0.619l-3.185-2.171l-1.75-4.603l-1.183-2.167l3.655,1.724l3.799,0.627l0.096,0.865l-0.809,0.972l0.4,3.403h1.48l2.343-2.704
  l0.813-4.881l2.724-4.017l3.071-6.467l1.208-5.794l-0.676-1.185l-0.159-9.249l-1.922-4.139l-1.514,1.08l-2.209,0.26l2.883-2.619
  l0.015-0.282l0.703,0.319l4.24-1.188l5.838-1.946l2.586-0.97l11.179-8.368l3.913-4.099l-5.227-2.01l-1.493,1.682l-2.854,2.696
  l-7.73,3.787l-2.052-0.147l-1.769-0.707l-1.342,0.766l-2.347,2.647l-1.363,1.211l-0.689,0.172l-0.13-0.52l1.993-1.827l-0.809-1.702
  l7.653-6.984l1.625-1.76l0.701,0.561l2.978-1.576l5.188-1.143l7.332-2.99l3.345-1.115l2.578-2.024l1.071-1.633l1.139,0.143
  l2.759-1.495l0.029,0.047l2.829-1.369l-0.528-2.464l0.644-1.155l2.221-1.11l0.617,2.347l-0.396,1.455l-2.495,1.497v2.253
  l2.739-2.055l3.896-4.524l3.729-1.869l4.59-1.589l-0.397-2.922l-0.97-2.91l-2.101-2.672l-2.004-0.911l-2.414,0.186l-0.922,0.922
  l1.491,1.989l1.55-0.861l1.712,1.317l0.679,2.307l-1.501,1.5l-2.047,0.878l-3.191-0.435l-3.8-5.846l-2.413-2.758h-2.164
  l-0.864,0.618l-1.509-2.012l0.262-1.176l2.52-5.376l-2.898-4.43l0.484-0.6l0.879-2.587l0.196,0.092l1.247-6.97l0.153-4.151
  l1.533-1.364l-0.982-3.276l2.56-2.962l1.464,1.316l1.649-0.626l5.556-3.197l0.31-2.786l2.76-0.46l1.826-2.922l-0.484-4.689
  l0.836-1.335l-0.386-1.346l-1.005-1.204l1.147-0.706l1.706,3.101l1.345-0.299l0.19,0.761v1.613l-1.157-0.885l-2.127,2.128
  l2.235,3.557l2.45-1.283l-0.694-2.976l-0.115-0.089l2.262,0.188l0.544-3.08l0.688-0.917l-1.634-1.472l0.666-1.001l1.752-1.051
  l-1.436,2.362l2.18,2.277l0.194,0.012c0.001,0,0.653,0.037,1.082-0.043c0.67-0.126,0.742-0.53,0.742-0.698
  c0-0.182,0.116-1.09,0.212-1.771l1.025-0.932l-0.578-1.27c0.174,0.169,0.377,0.273,0.615,0.273h1.52l4.959-5.626l3.317-3.001
  l2.048-0.683l2.191-4.888l0.044-2.285L925.146,80.593z M912.218,99.481l-2.001,0.72l0.781-1.172l1.084-0.098
  C912.119,99.109,912.163,99.296,912.218,99.481z M828.837,323.306v-0.465l0.581,0.465H828.837z M465.719,518.067l-3.505,5.469
  l-2.5,5.183l1.167-4.413l-2.205-1.891l0.669-1.338l3.995-0.319l3.897-5.522l1.186-0.227L465.719,518.067z M459.664,558.247
  l-0.964-6.084l-1.788-6.985l-0.768-2.305l0.772-4.35l1.254-4.309l-0.862,4.626l0.572,7.1l2.754,7.266l0.594,7.459L459.664,558.247z"
  />
    </svg>

    </div>