<% if flash[:expedition_errors] %>
  <ul>
  <% flash[:expedition_errors].each do |error| %>
  <li> <%= error %> </li>
  <% end %>
  </ul>
<% end  %>

<% @seasons = ["Spring", "Summer", "Fall", "Winter"] %>
<% @regions = ["Pacific Northwest", "Southwest", "Midwest", "Northeast", "Southeast"]  %> 

<%= form_for @expedition do |f| %>
  <div class="form-input">
    <%= f.label 'Expedition Code Name:' %><br>
    <%= f.number_field(:days, html_options = { placeholder: 'Ex: 14' }) %><br><br>
  </div>

  <div class="form-input">
    <%= f.label 'Length of Expedition (days):' %><br>
    <%= f.number_field(:days, html_options = { placeholder: 'Ex: 14' }) %><br><br>
  </div>
  <div class="form-input">
    <%= f.label 'Season' %><br>
    <%= f.collection_select :season, @seasons, :to_s, :to_s %><br><br>
  </div>
  <div class="form-input">
    <%= f.label 'Region' %><br>
    <%= f.collection_select :region, @regions, :to_s, :to_s %><br><br>
  </div>


<br>
  <%= f.submit class: "form-btn"%>
<% end %>