<div style="height: 350px;">
  <h1 class='h1'>Expedition: <%= @expedition.name %></h1>
  <br>

<div class='two-divs'>
  <div class='column'>
  <p><b>Completed by:</b> <%= link_to @expedition.user.name, user_path(@expedition.user) %></p>
  <p><b>Length:</b> <%= @expedition.days %> Days</p>
  <p><b>Region:</b> <%= @expedition.region %> </p>
  <p><b>Season:</b> <%= @expedition.season %> </p>
  <br>
  <p><%= link_to 'Edit Expedition', edit_expedition_path(@expedition) %>
  
  </div>
  <div class='column'>
  <p> (put region map here)</p>
  <p><a href="https://www.google.com/maps/place/<%= @expedition.region %>/" ">View <%= @expedition.region %> Map</a></p>
  </div>
</div>

</div>


<div class='user-container'>
  <h2 class='h2'>Sightings:</h2>
  
    <% @expedition.sightings.each do |sighting| %>
    
      
      <%= link_to sighting_path(sighting) do %>
      <div class='expedition-tile'>
      <ul class='no-bullets'> 
      
      <div class='clickable-expedition'>
        <ul class='no-bullets'><%= sighting.date %>: 
        <li>Location: <%= sighting.location %></li>
        <li>Cryptid: <%= sighting.cryptid.name %> </li>
        </ul>
      </div>
    </ul>
  </div>
    
    <% end %>
  <% end %>
  
</div>



</div>
