<h1> <%= @expedition.region %> </h1> 
<h4> <%= @expedition.season %> - <%= @expedition.days %> Days</h4>
<ul><% @expedition.sightings.each do |sighting| %>
<li><%= link_to sighting.cryptid.name, cryptid_path(sighting.cryptid.id) %></li> 
<% end %>
</ul>

<!--Pattern HTML-->
<div class='index-tile'>
  <br>
    <a href="https://www.google.com/maps/place/<%=@expedition.region%>/" ">View <%=@expedition.region%> Map</a>
  <br>
  <br>
</div>

<br>

<div class='index-tile'>
  <br>
    <%= link_to "New Sighting", new_sighting_path %>
  <br>
  <br>
</div>