<h1> <%= @expedition.region %> </h1> 
<h4> <%= @expedition.season %> - <%= @expedition.days %> Days</h4>
<ul><% @expedition.sightings.each do |sighting| %>
<li><%= link_to sighting.cryptid.name, cryptid_path(sighting.cryptid.id) %></li> 
<% end %>
</ul>

<!--Pattern HTML-->
<div id="pattern" class="pattern">
  <div class="map">
    <a href="https://www.google.com/maps/place/<%=@expedition.region%>/" class="btn map-link">View <%=@expedition.region%> Map</a>
  </div>
</div>
