<!DOCTYPE html>
<html>
  <head>
    <title>SQUATCHER</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="banner">
      <h1 id="banner-header">SQUATCHER</h1>
  </div>

    <ul class="nav">
      <li><%= link_to "Home", users_path %></li>
      <li><%= link_to "Cryptid Handook", cryptids_path %></li>
  

      <% if @current_user %>
        <li><%= link_to "New Expedition", new_expedition_path %></li>
        <li><%= link_to "New Sighting",  new_sighting_path %></li>

        <li class="right"><%= link_to "Logout", logout_path, method: :delete  %></li>
        <li class="right">Welcome, <%= link_to @current_user.name, user_path(@current_user) %></li>
        
      <% else %>
        <li class="right"><%= link_to "Sign Up", new_user_path %></li>
        <li class="right"><%= link_to "Login", new_login_path %></li>
      <% end %>
    </ul>

  <div class="index-container">
    <%= yield %>
  </div>
  </body>
</html>

